body{
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#caja_venta{
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a{
    color: white;
}

a:hover{
    color: #13B300;
    transition: 0.4s;
}

.cuadro_center{
    position: absolute;
    width: 85vw;
    height: 75vh;
    margin-top:5%;
    margin-left: 8vw;
    background-color: #000000;
    opacity: 0.6;
}

.cuadro_center_container{
    position: absolute;
    width: 75vw;
    height: 65vh;
    margin-top:6%;
    margin-left: 11.5vw;
}

.cuadro_left{
    position: absolute;
    width: 35vw;
    height: 75vh;
    margin-top:5%;
    margin-left:5vw;
    background-color: #000000;
    opacity: 0.6;
}

.cuadro_left_ventas{
    position: absolute;
    width: 25vw;
    height: 75vh;
    margin-top:5%;
    margin-left:5vw;
    background-color: #000000;
    opacity: 0.6;
}

.cuadro_left_ventas_container{
    position: absolute;
    width: 21vw;
    height: 70vh;
    margin-top:6%;
    margin-left:7vw;
}

.cuadro_left_container{
    position: absolute;
    width: 31vw;
    height: 70vh;
    margin-top:6%;
    margin-left:7vw;
}

.cuadro_right{
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-color: #000000;
    margin-top:5%;
    margin-left: 45vw;
    opacity: 0.6;
}

.cuadro_right_white{
    position: absolute;
    width: 60vw;
    height: 75vh;
    background-color: #dadada;
    margin-top:5%;
    margin-left: 35vw;
    opacity: 0.6;
}

.cuadro_right_container{
    position: absolute;
    width: 45vw;
    height: 65vh;
    margin-top:7%;
    margin-left: 47.5vw;
    padding-right: 10px;
}

.cuadro_right_white_container{
    position: absolute;
    width: 55vw;
    height: 65vh;
    margin-top:7%;
    margin-left: 37.5vw;
    padding-right: 10px;
}

.tabla{
    width: 100%;
    height: 45vh;

}

.scroll{
    overflow-y: scroll;
    overflow-x: hidden;
}
.texto{
    font-size: 4vw;
    background-color: transparent;
    padding: 0px;
    color:white;
    position: absolute;
    z-index: 1;
    margin-top:3%;
    margin-left: 14vw;
    text-align: center;

}
.formulario{
    width: 30vw;
    position: absolute;
    margin-left: 15vw;
    z-index: 1;
    text-align: center;
    margin-top: 22vh;
    margin-left: 10vw;
}

#foto_perfil_conf{
    position: fixed;
    width: 55vh;
    margin-top: 5vh;
    margin-left: 4vw;
}
.camera{
    position: fixed;
    margin-left: 23vw;
    margin-top: 45vh;
    font-size: 12vh;
}

.icono_inicial{
    height: 7vh;
}

.foto_perfil{
    height: 7vh;
    border-radius: 100%;
    /*margin-left: 165vh;*/
}

#opciones{
    margin-left: 163vh;
    position: absolute;
}

.foto_perfil:hover{
    box-shadow: 0px 0px 2px 4px #767676;
}

.conf_icon{
    margin-left: 155vh;
    font-size: 5vh;
}

.conf_icon_conf{
    margin-left: 165vh;
    font-size: 5vh;
}

#marca{
    margin-left: 10px;
}

.titulo_modulo{
    font-size: 45px;
    color: white;
    text-align: center;
}

.texto_modulo{
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.titulo_modulo_black{
    font-size: 28px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.info_ventas{
    margin: 10px;
    background-color: beige;
    border-radius: 15px;
}

#fullscreen_button{
    margin-left: 20px;
    margin-top: 15px;;
}

.input_cambio{
    height: 44px;
}

.input_productos{
    width: 80px;
}
.img_ref1{
    width: 65vh;
}